= turbo_stream.prepend("complited_mission_app_files", partial: "complited_missions/list_app_files", locals: { resource: @complited_mission })
/ = turbo_stream.prepend "task_photos", @task
= render_turbo_stream_flash_messages