= simple_form_for @task do |f|
  = f.error_notification
  .row
    .col-12.col-md-8
      = f.input :division_id, collection: Division.list_active, 
        label_method: :name, 
        value_method: :id, 
        required: true, 
        autofocus: true, 
        class: 'form-control form-control-sm', 
        input_html: { id: "single-select-division-task", 
        data: { controller: "select2", placeholder: t('simple_form.prompt'), theme: 'bootstrap-5' } }
    .col-12.col-md-4
      = f.input :category_id, collection: Category.all, 
        label_method: :name, 
        value_method: :id, 
        required: true, 
        autofocus: true, 
        prompt: t('simple_form.prompt'), 
        class: 'form-control form-control-sm'
  .row
    .col-12.col-md-6
      = f.input :sub_department_id, collection: SubDepartment.all, 
                label_method: :name, 
                value_method: :id, 
                required: true, 
                autofocus: true, 
                class: 'form-control form-control-sm', 
                input_html: { id: "single-select-sub-department-task", 
                data: { controller: "select2", placeholder: t('simple_form.prompt'), 
                theme: 'bootstrap-5', 
                "select2-target": "selectedSubDepartment" } }

    .col-12.col-md-6
      / = f.input :executor_id, collection: User.list_all(current_user), label_method: :full_name, value_method: :id, required: true, autofocus: true, class: 'form-control form-control-sm'
      = f.input :executor_id, collection: User.list_all(current_user), 
                label_method: :full_name, 
                value_method: :id, 
                required: true, 
                autofocus: true, 
                class: 'form-control form-control-sm', 
                input_html: { id: "single-select-executor-task", 
                data: { controller: "select2", 
                placeholder: t('simple_form.prompt'), theme: 'bootstrap-5',
                "select2-target": "selectExecutor" } }
  .row
    .col-12.col-md-12
      = f.input :description, as: :text, required: true, autofocus: true, class: 'form-control form-control-sm'
  .row 
    .col-12.col-md-12
      = f.input :photos, as: :file, 
        input_html: { class: 'form-control form-control-sm my-3', multiple: true, direct_upload: true, include_hidden: false }  
  .row  
    .col-12.col-md-12.text-end
      span.p-2
        = f.submit "#{t('submit.save')}", class: "btn btn-primary"