= turbo_stream.prepend("related_missions", partial: "related_missions/related_missions", locals: { resource: @mission })
/ = turbo_stream.prepend "task_photos", @task
= render_turbo_stream_flash_messages