#resp-table {
  width: 100%;
  display: table;
}

#resp-table-caption {
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#resp-table-header {
  display: table-header-group;
  // background-color: rgb(7, 7, 7);


}

.table-header-cell {
  display: table-cell;  
}

// #resp-table-header .table-header-cell:first-child {
//   border-radius: 8px 0 0 8px;
//   -moz-border-radius: 8px 0 0 8px;
// }

// #resp-table-header .table-header-cell:last-child {
//   border-radius: 0 8px 8px 0; 
//   -moz-border-radius: 0 8px 8px 0;
// }

#resp-table-body {
  display: table-row-group;
}

.resp-table-row {
  display: table-row; 
}

// #resp-table-body .resp-table-row:hover {
//   background-color: $gray-300;
// }

// #resp-table-body .resp-table-row:nth-child(odd) {
//   background-color: $gray-200;
// }

// #resp-table-body .resp-table-row:nth-child(even) {
//   background-color: white;
// }

.table-body-cell {
  display: table-cell;
  padding: 2px 3px 2px 0px;
  // margin: 0;
  // border-bottom: 1px solid rgb(126, 122, 122); 
}

.fixed-table {
  table-layout: fixed;
}

.tblhead-default > * {
  background: $teal-700;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  color: white;
  //border: 1px solid white;
}

.tblhead-resp > * {
  //background: $teal-700;
  border-bottom-width: 1px;
  font-weight: bold;
  font-size: 16px;
  color: #212529;
  vertical-align: top;
  text-align: left;
  // border-color: #5586b8;
  border-bottom-color: currentColor;
  padding: 10px 0px;
  // border-style: solid;
  border-bottom-style: solid;
  
}
.tblbody-resp > * {
  border-bottom-width: 1px;  
  border-bottom-color: rgb(187, 187, 187);
  border-bottom-style: solid;
}